<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>To Do List</title>
</head>

<body>
  <div class="row" id="body">
    <nar class="mb-3 col-12">
      <div class="nav1 row">
        <div class="col-2 myTodoTitle ">My Todo</div>
        <form action="/todos/add" method="post" class="col-6 row">
          <input type="text" placeholder="to do something..." name="newList" id="newList"
            class="form-control col-9 mr-5">
          <button id="submit" class="btn btn-info col-2">Add</button>
        </form>
      </div>
    </nar>




    {{{body}}}

    <script src="javascripts/index.js"></script>
</body>

</html>