<div id="my-todo">
  <!-- 			add items here -->
</div>

</section>
<section class="right col-5">
  <section>
    <div class="container-finish row">
      <h3 class="title-finish col-2">Finish</h3>
      <i class="far fa-trash-alt col-10"></i>
    </div>
    <div id="finish"></div>
  </section>

  <section>
    <div class="container-trash row">
      <h3 class="title-finish col-10">Trash<span style="font-size:13px; color: gray;"> (請先取消勾勾後再恢復)</span></h3>
      <i class="far fa-trash-alt col-2"></i>
    </div>
    <div id="trash"></div>
  </section>
</section>
</div>