<div class="list-info row">
  <section class="left col-6">
    <div class="container-list row">
      <h3 class="title-list col-2">List</h3>
      <form action="/todos?_method=DELETE" method="POST">
        <button type="submit" class="trashBtn">
          <i type="submit" class="far fa-trash-alt col-10"></i>
        </button>
      </form>
    </div>

    <div id="my-todo">
      <!-- 			add items here -->
      {{#each lists}}
      <div class="infor_container">
        <label for="todo list-group-item" class="item col-7">
          <input class="form-check-input me-1" type="checkbox" value="">
          {{this.name}}
        </label>
        <div class="createdTime mr-2">{{this.time}}</div>
        <i class="fas fa-minus-circle circle-delete"></i>
      </div>
      {{/each }}
    </div>

  </section>
  <section class="right col-5">
    <section>
      <div class="container-finish row">
        <h3 class="title-finish col-2">Finish</h3>
        <form action="/todos?_method=DELETE" method="POST">
          <button type="submit" class="trashBtn">
            <i type="submit" class="far fa-trash-alt col-10"></i>
          </button>
        </form>
      </div>
      <div id="finish"></div>
    </section>

    <section>
      <div class="container-trash row">
        <h3 class="title-finish col-9">Trash<span style="font-size:13px; color: gray;"> (請先取消勾勾)</span></h3>
        <form action="/todos?_method=DELETE" method="POST">
          <button type="submit" class="trashBtn">
            <i type="submit" class="far fa-trash-alt col-10"></i>
          </button>
        </form>
      </div>
      <div id="trash"></div>
    </section>
  </section>
</div>